<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".PlanActivity"
            android:label="健身计划"
            android:exported="false" />
        <activity
            android:name=".CaloriesActivity"
            android:exported="false"
            android:label="食物卡路里"/>
        <activity
            android:name=".RecommendActivity"
            android:exported="false"
            android:label="推荐" />
        <activity
            android:name=".ui.team.TeamInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.strategy.StrategyInfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSQLiteActivity"
            android:exported="false"
            android:label="登录" />
        <activity
            android:name=".ui.sport.RunActivity"
            android:exported="false"
            android:label="跑步" />
        <activity
            android:name=".ui.sport.FrisbeeActivity"
            android:exported="false"
            android:label="飞盘" />
        <activity
            android:name=".ui.sport.MoreActivity"
            android:exported="false"
            android:label="其他" />
        <activity
            android:name=".ui.sport.TableTennisActivity"
            android:exported="false"
            android:label="台球" />
        <activity
            android:name=".ui.sport.TdActivity"
            android:exported="false"
            android:label="Td" />
        <activity
            android:name=".ui.sport.TennisActivity"
            android:exported="false"
            android:label="网球" />
        <activity
            android:name=".ui.sport.BasketballActivity"
            android:exported="false"
            android:label="篮球" />
        <activity
            android:name=".ui.sport.GymActivity"
            android:exported="false"
            android:label="健身" />
        <activity
            android:name=".ui.sport.SwimActivity"
            android:exported="false"
            android:label="游泳" />
        <activity
            android:name=".ui.sport.BadmintonActivity"
            android:exported="false"
            android:label="羽毛球" />
        <activity
            android:name=".ui.sport.VolleyballActivity"
            android:exported="false"
            android:label="排球" />
        <activity
            android:name=".ui.sport.FootballActivity"
            android:exported="false"
            android:label="足球" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="运动历史" />
        <activity
            android:name=".ui.team.TeamCreate"
            android:exported="false"
            android:label="发布组局" />
        <activity
            android:name=".ui.strategy.StrategyCreate"
            android:exported="false"
            android:label="发布攻略" />
        <activity
            android:name=".map.BaseMapActivity"
            android:exported="false"
            android:label="City walk" />
        <activity
            android:name=".map.CityWalkActivity"
            android:exported="false"
            android:label="City walk路线规划" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="I2VBZ-QMALL-HDOPP-EJ27F-RGCAK-YDFHC" />
        <service
            android:name="com.tencent.map.geolocation.s"
            android:foregroundServiceType="location" />
    </application>

</manifest>